@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

/* Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #e3e8e4;
    --primary-color: #363636;
    --main-font: "Playfair Display", serif;
    --secondary-font: sans-serif;
}

/* Nav Section Start */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: var(--secondary-font);
    padding: 10px;
}

ul li {
    display: inline;
}

ul li a {
    text-decoration: none;
    color: #000;
    margin-left: 4rem;
}

ul li a:hover {
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 10px;
}

.btn-fill {
    padding: 10px 30px;
    background: var(--primary-color);
    border: none;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
}

.btn-outline {
    background: transparent;
    border: none;
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
}
/* Nav Section End */

/* Header Start */

header {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.content-container {
    margin-left: 6rem;
}

.main-heading {
    font-size: 4rem;
    font-family: var(--main-font);
    color: #0000004f;
    margin-bottom: 2rem;
}

.main-heading span {
    color: #000;
}

.primary-heading {
    max-width: 500px;
    font-family: var(--secondary-font);
    line-height: 25px;
    margin-bottom: 2rem;
}

.img-container {
    width: 500px;
    height: 500px;
    background: var(--main-color);
    border-radius: 100%;
}

.img-container img {
    width: 400px;
    height: 500px;
    margin-left: 20px;
    margin-bottom: 40px;
}

/* Header End */